frr version 10.4.1
frr defaults traditional
hostname {{ routers[inventory_hostname].hostname }}
!

interface eth1
 ip address {{ routers[inventory_hostname].eth1_ip }}
 ip ospf cost {{ routers[inventory_hostname].ospf_cost }}
!

interface eth2
 ip address {{ routers[inventory_hostname].eth2_ip }}
 ip ospf cost {{ routers[inventory_hostname].ospf_cost }}
!

interface lo
 ip address {{ routers[inventory_hostname].loopback_ip }}
!

router ospf
 ospf router-id {{ routers[inventory_hostname].router_id }}
 network 10.0.0.0/30 area 0
 network 10.0.0.4/30 area 0
 network 10.0.0.8/30 area 0
 network {{ routers[inventory_hostname].loopback_ip }} area 0
!

line vty
!
